.bannerTitle {
    font-size: 3rem;
}
.bannerText {
    font-size: 1rem;
}

.bannerBtn {
    padding: 0.5rem 0.75rem;
    background: #f4f4f4;
    text-decoration: none;
    color: #000;
    border-radius: 6px;
}
