.item {
    border-bottom: 1px solid #eff2f4;
}

.imageContainer {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: #f7f7f7;
}

.quantityInput {
    border: 1px solid #dee2e7;
    border-radius: 6px;
}
